@charset "UTF-8";

.thread{
  width:750px;
  background: #98FB98;
}

.entity{
  width:500px;
  background: #ffffff;
}

.box{
  width:400px;
  background: #98FB98;
}

#input{
  max-width:600px;
  margin: 0 auto;
}